# Python - Ficheiros temporários de execução
__pycache__/
*.py[cod]
*$py.class

# PLY - Ficheiros gerados pelo Lexer/Parser
compilador/parsetab.py
compilador/parser.out
parsetab.py
parser.out

# Compilador - Outputs da Máquina Virtual
*.vm
compilador/out_vm/

# Sistema e IDEs
.DS_Store
.vscode/
.idea/
Thumbs.db
